:root {
  --main-color: #1f0635;
  --dark-color: #000000;
  --light-color: #f7f4ea;
  --violet: #662e9b;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */

.text-lg {
  font-size: 1.5em;
}

.text-med {
  font-size: 1.2em;
}

span {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

h3 {
  font-weight: bold;
  border-bottom: solid 1px var(--light-color);
  padding-bottom: 0.5em;
  letter-spacing: 4px;
}

header,
.benefits,
.download-section,
.get-started,
footer {
  font-family: "Montserrat", sans-serif;
}

/* General Styling */

ul {
  list-style: none;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.container {
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0.5em;
}

main > * {
  box-shadow: inset 20px 20px 50px rgba(0, 0, 0, 0.2),
    inset -20px -20px 50px rgba(0, 0, 0, 0.2);
}

.btn {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.8em;
  border-radius: 20px;
  color: var(--dark-color);
  background: var(--light-color);
}

.btn:hover {
  background: var(--main-color);
  color: var(--light-color);
}

/* Header */
header {
  color: var(--light-color);
}

header a {
  color: var(--light-color);
}

.logo {
  /* display: none; */
  font-size: 3em;
  grid-column: 1;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.nav-container {
  background: black;
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  grid-template-rows: 80px 100px;
  padding: 1em;
}

h1 {
  grid-column: 2;
  grid-row: 1;
  padding-left: 0.5em;
  align-self: center;
}

nav {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/4;
  grid-row: 2/3;
  align-self: start;
}

nav a {
  padding: 0;
  font-weight: bold;
  margin: 0.5em;
  align-self: center;
}

nav .btn {
  font-size: 1em;
}

nav a:nth-of-type(-n + 3):hover {
  opacity: 0.5;
}

nav a:last-child {
  border: solid 2px var(--light-color);
  padding: 0.5em;
}

.header-content {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/home-fitness.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-content .container {
  display: flex;
  min-height: 400px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-content .btn {
  max-width: 400px;
}

/* Benefits */
.benefits {
  background: var(--main-color);
  color: var(--light-color);
}

.card {
  background: var(--dark-color);
  border: solid var(--dark-color) 1px;
  margin: 1em;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  line-height: 1.2em;
}

.card .caption {
  padding: 0.5em;
}

/* Download Section */
.download-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/two-girls-unsplash.jpg);
  background-size: cover;
  background-position: 20% 50%;
  background-repeat: no-repeat;
  color: var(--light-color);
}

.download-section .container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.download-section form {
  width: 80%;
  max-width: 500px;
}

.download-section form input {
  text-align: center;
  padding: 0.8em;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 2em;
}

.download-section p {
  margin: 1em;
}

input:last-child {
  background: var(--dark-color);
  color: var(--light-color);
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}

/* Get Started Section */
.get-started {
  color: var(--light-color);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/cycling-unsplash.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 1em;
}

.get-started .container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.get-started .container > * {
  padding: 0.5em;
}

.get-started .container a {
  padding: 0.5em;
  margin-top: 1em;
  width: 300px;
  align-self: center;
}

/* Footer */
footer {
  background: url(../images/health-footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  margin: 0 auto;
  padding: 1em;
}

footer a {
  color: var(--main-color);
  font-size: 1.5em;
}

footer a:hover {
  opacity: 0.5;
}

.contact-info-container {
  padding: 1em;
}

.contact-info-container a {
  padding: 0.5em;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
}

.background-container {
  background: white;
  display: inline-block;
  padding: 0.5em;
  box-shadow: 6px 6px 6px -6px black;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 337px) {
    nav {
      grid-column: 2/4;
    }
  }

  @media screen and (min-width: 400px) {
    nav a {
      padding: 0.5em 1em 0.5em 0.5em;
    }
  }

  @media screen and (min-width: 600px) {
    nav {
      max-width: none;
    }

    .nav-container {
      grid-template-columns: 100px auto;
      grid-template-rows: 90px 70px;
    }

    .benefits h2 {
      padding-bottom: 1em;
    }

    .benefits .container {
      max-width: 90%;
    }

    .container {
      max-width: 75%;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
    }

    .card {
      margin: 0;
    }
  }

  @media screen and (min-width: 775px) {
    .logo {
      font-size: 4em;
    }

    .nav-container {
      grid-template-rows: 130px;
      padding: 0 1em;
    }

    nav {
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
      align-self: center;
      padding-top: 0.5em;
    }

    nav a {
      padding: 0 1em;
    }

    .get-started {
      background-position: 50% 70%;
    }
  }

  @media screen and (min-width: 900px) {
    nav a,
    nav .btn {
      font-size: 1.2em;
    }

    .logo {
      font-size: 5em;
    }

    .cards {
      grid-gap: 2em;
      align-items: center;
    }

    .card {
      display: flex;
      flex-direction: row;
      line-height: 2em;
    }

    .download-section .container {
      min-height: 600px;
    }

    main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "benefits benefits"
        "download-section get-started";
    }

    .benefits {
      grid-area: benefits;
      padding: 2em 0;
    }

    .download-section {
      grid-area: download-section;
      background-position: 30% 50%;
    }

    .get-started {
      grid-area: get-started;
      background-position: 50% 50%;
      position: relative;
    }

    .get-started .container a {
      position: absolute;
      bottom: 18%;
    }
  }
}
